*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{ 
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQODU3Ytx4JCtYOkUNJuvvoqroCCdLQ4U_6eg&s")no-repeat center ;
 background-size: cover;
}
.box{
    width: 40%;
    height: auto;
    background-color: palegreen;
    text-align: center;
    margin-left: 27em;
    margin-top: 11em;
    padding-top: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box button{
    background-color: rgb(51, 209, 51);
    padding: 8px 28px;
    font-size: 1.3em;
    border: none;
    border-radius: 5%;
    margin: 5%;
    color: aliceblue;
    cursor: pointer;
}
.box button:hover{box-shadow: 4px 4px  5px rgb(9, 238, 9);}
.box h4{ color: rgb(48, 46, 46);}

/* //////////// media query */
@media only screen and (max-width: 590px ) {
    .box {
         margin-left: 1em;
         margin-bottom: 20.5em;
          width: 90%;
    height: auto;
    }
    
}
/* /////////  media query */